@layer tokens {
  :root {
    --nx-fontSize-xs: 0.75rem;
    --nx-shadows-sm: 0 1px 2px 0 rgba(0,0,0,0.05);
    --nx-color-gray-100: #f3f4f6;
    --nx-color-gray-900: #111827;
    --nx-color-gray-950: #000000;
    --nx-shadows-md: 0 4px 6px -1px rgba(0,0,0,0.1);
    --nx-shadows-lg: 0 10px 15px -3px rgba(0,0,0,0.1);
    --nx-radius-full: 9999px;
    --nx-zIndex-dropdown: 1000;
    --nx-zIndex-modal: 2000;
    --nx-zIndex-toast: 3000;
    --nx-fontSize-base: 1rem;
    --nx-shadows-xl: 0 20px 25px -5px rgba(0,0,0,0.1);
    --nx-lineHeight-normal: 1.5;
    --nx-fontWeight-medium: 500;
    --nx-fontWeight-semibold: 600;
    --nx-fontWeight-bold: 700;
    --nx-lineHeight-tight: 1.25;
    --nx-lineHeight-relaxed: 1.75;
  }
}