name: Publish ngCorex

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22.19.0"
          registry-url: "https://registry.npmjs.org"
          scope: "@ngcorex"
          cache: "npm"

      - run: npm ci
      - run: npm run build

      - run: npm test --if-present

      - name: Publish packages
        env:
          NODE_AUTH_TOKEN: ""
        run: |
          npm publish -w packages/css --access public --provenance --tag next
          npm publish -w packages/cli --access public --provenance --tag next

  validate:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22.19.0"
          cache: "npm"

      - run: npm ci
      - run: npm run build
      - run: npm test --if-present
